<!doctype html>
<html>
<head>
  <title></title>
</head>
<body>
<form action="/madlib">
    <p>Choose a person:</p>
    <select name="person">
        <option value="santa claus">Santa Claus</option>
        <option value="the grinch">The Grinch</option>
        <option value="buddy the elf">Buddy the Elf</option>
    </select>
    <p>Choose a color:</p>
    <input type="checkbox" name="color" value="Magenta">
    <label>Magenta</label>
    <input type="checkbox" name="color" value="Indigo">
    <label>Indigo</label>
    <input type="checkbox" name="color" value="Marigold">
    <label>Marigold</label>
    <label>Enter a noun:</label>
        <input type="text" name="noun">
    
    <p>Choose an adjective:</p>
    <input type="radio" name="adjective" value ="gloomy">
    <label>Gloomy</label>
    <input type="radio" name="adjective" value ="disgusting">
    <label>Disgusting</label>
    <input type="radio" name="adjective" value ="radiant">
    <label>Radiant</label>
</form>

</body>
</html>